* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans';
    background-color: #e5e5e5;
}

.main-container {
    max-width: 425px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: #fff;
    padding-bottom: 32px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #2283C7;
    height: 62px;
    padding: 0 18px;
    margin-bottom: 32px;
}


#main-form {
    margin: 0 18px;
}


.questions {
    margin-bottom: 32px;
    padding-bottom: 32px;
    border-bottom: 1.5px solid #E5E5E5;
}

.question {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    color: #191919;
}

.num_of_question {
    color: #2283C7;
    margin-right: 10px;
}


.answer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #2283C7;
    border-radius: 6px;
    height: 46px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #2283C7;
}

.answer:hover {
    cursor: pointer;
    background: #2283C7;
    color: white;
}

input {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
    background: #3973B6;
    border: 2px solid #2283C7;
    border-radius: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 32px;
}










